@CHARSET "UTF-8";
body {
	background-color: #dcfdc1;
}
div.errorMessages{
	font-weight: 700;
	color: #ff8080;
	text-align: center;
}

div.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #ffffff;
	height: 100%;
	width: 1000px;
	margin:50px auto;
	border: 4px solid #808080;
	text-align: center;
	padding: 40px;
	table-layout:fixed;
}


h3{
	font-size: 20px;
	text-align: right;
	padding-bottom: .10em;
	border-bottom: 3px double #ccc;
}
.header{
	text-align: right;
}
div.management{
	text-align: left;
	vertical-align: middle;

}
.table{
	width: 1000px;
	height: 900px
 	background-color: #cccccc;
  	text-align: center;
}
.button1{
	position: relative;
	background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: 25px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 1px 0 #0e8c73;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
.button:active {
	top: 3px;
	box-shadow: none;
}
.button2{
	position: relative;
	background-color: #f36050;
	border-radius: 4px;
	color: #fff;
	line-height: 25px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 1px 0 #0e8c73;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
.button:active {
	top: 3px;
	box-shadow: none;
}
.button3{
	position: relative;
	background-color: #3c9dff;
	border-radius: 4px;
	color: #fff;
	line-height: 25px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 1px 0 #0e8c73;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
.button:active {
	top: 3px;
	box-shadow: none;
}
.button4{
	position: relative;
	background-color: #ff8042;
	border-radius: 4px;
	color: #fff;
	line-height: 25px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 1px 0 #0e8c73;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
.button:active {
	top: 3px;
	box-shadow: none;
}
div.date{
	text-align:left;
}
div.category{
	text-align:left;
}
div.posts{
	text-align:left;
}

div.comment{
	text-align:left;
	padding: .5em .75em;
	background-color: #f0f0f0;

}
div.form-area{
	text-align:left;

}
div.signup{
	text-align: left;
	font-size: 20px;

}
div.settings{
	text-align: left;
	font-size: 20px;

}
div.text1{
	text-align:left;
	position: relative;
	padding: .5em .75em;
	border-radius: 6px;
	border: 1px solid #c8c6b7;
	table-layout:fixed;
	word-wrap:break-word;
}
div.text2{
	word-wrap:break-word;
}
div.back{
	text-align:left;
}
div.reset{
	text-align:left;
	border-bottom: 1px solid #c0c0c0;
}
div.comment-area{
	text-align:left;
	border-bottom: 3px double #000000;
}
